# Environment
NODE_ENV=development

# Api
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Database
DB_USER=postgres
DB_NAME=nike-ecommerce-db
DB_PASSWORD=your_secure_password_here
DATABASE_URL=postgresql://user:password@localhost:5433/db-name

# Better Auth (mínimo 32 caracteres para producción)
BETTER_AUTH_SECRET=your_secret_key_here_min_32_characters_required
BETTER_AUTH_URL=http://localhost:3000

# Stripe
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your_stripe_publishable_key
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret
